:root {
  --primary: #e6c183;
  --secondary: #d0bcff;
  --background: #161616;
  --on-background: #e5e2e3;
  --surface: #161616;
  --surface-bright: #222;
  --surface-dim: #111;
  --on-surface: #e5e2e3;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--on-background);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

button {
  font: inherit;
  background: inherit;
  border: inherit;
  color: inherit;
  background: inherit;
  cursor: pointer;
}

a:hover,button:hover{
  color: var(--primary);
}

.card {
  display: flex;
  gap: 1rem;
  background-color: var(--surface-dim);
  color: var(--on-surface);
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid var(--surface-bright);
}

.container {
  max-width: 1360px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
